//## Fonts variable.
$primary-font: "Proza Libre", sans-serif;
$secondary-font: "Bubblegum Sans", cursive;

//## Color variables.
$black-color: #000;
$white-color: #fff;
$body-text-color: #333;
$red-color: #ff5252;
$error-color: rgba(255, 82, 82, 0.87);
$primary-color: #3ac0ff;
