@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./typography";
@import "./datepicker";
@import "./header";
@import "./app";
@import "./preview";
@import "./modal";
@import "./footer";

#receipt-form {
  .alert {
    display: none;
    margin: 15px 0 0 0;
    padding: 10px 15px;
    color: $white;
    border-color: $red;
    border-radius: 0;
    background-color: $red;
  }
}